<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if @teams.any? %>
  <% @teams.each do |team| %>
    <h2> <%= team.name %> </h2>
  <% end %>
<% else %>
  No teams yet
<% end %>
<a href='/teams/new'>Add a team</a>
