<% if @leagues.any? %>
  <% @leagues.each do |league| %>
    <h2> <%= league.name %> </h2>
  <% end %>
<% else %>
  <p>You don't belong to any leagues</p>
<% end %>
<p><a href='/leagues/new'>Create a league</a></p>
<p><a href='#'>Join a league</a></p>
